{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/styleadd.css' %}">
</head>
<body>
    <div class="contaienr">
        <div class="box">
            <div class="first">
                <a href="/" id="canclehref"><div class="cancel">Cancel</div></a>
                <div class="add" onclick="submitForm()">Add</div>
            </div>
            <div class="second">
                <form method="post" action="addwork/">
                    {% csrf_token %}
                    <label for="title" id="family" >Title</label></br>
                    <input type="text" id="inputtit" placeholder="add a title ..." name="title"></br>
                    <label for="description" id="family" >Description</label></br>
                    <input type="text" id="inputdes" placeholder="add a description ..." name="description">
                    <input type="hidden" id="color" name="color">
                </form>
            </div>
            <div class="tags">
                <div class="color">
                    <p id="family">Tags</p>
                    <div class="colors">
                        <div class="color1" onclick="selectcolor(1)"></div>
                        <p>work</p>
                        <div class="color2" onclick="selectcolor(2)"></div>
                        <p>study</p>
                        <div class="color3" onclick="selectcolor(3)"></div>
                        <p>family</p>
                        <div class="color4" onclick="selectcolor(4)"></div>
                        <p>other</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        selectcolor=(colornumber)=>{
            let myDivObj=document.getElementsByClassName("color"+colornumber)[0]
            document.getElementById("color").value=window.getComputedStyle(myDivObj).backgroundColor
        }

        const form = document.querySelector('form');
        function submitForm(){
            if(document.getElementById("color").value == ""){
                document.getElementById("color").value="rgb(255, 249, 221)"
            }
            form.submit()
        }
    </script>
</body>
</html>