{% extends "layout.html" %}
{% load static %}

{% block body %}
<body>
    <div class="header">
        <div class="logo" onclick="homepage()">
            {% if number != 1 and number != 2 and number != 3 and number != 4 %}
                Todo
            {% else %}
                Home
            {% endif %}
        </div>
        <div class="last">
            <div class="add">
                {% if user.is_authenticated %}
                    <a href="/add/"><img src="{% static 'images/add.png' %}" alt=""></a>
                {% else %}
                    <a href="/login/"><img src="{% static 'images/add.png' %}" alt=""></a>
                {% endif %}
            </div>
            <div class="logout">
                {% if user.is_authenticated %}
                    <a href="/logout/"><img id="log" src="{% static 'images/logout.png' %}" alt=""></a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="item">
        <div class="left">
            <div class="left1">
                <div class="work">
                    <div class="workcolor" onclick="selected(1)"></div>
                    <a href="/selectedColor/1" class="selectedColor" ><p>work</p></a>
                </div>
                <div class="study">
                    <div class="studeycolor" onclick="selected(2)"></div>
                    <a href="/selectedColor/2" class="selectedColor" ><p>study</p></a>
                </div>
                <div class="family">
                    <div class="familycolor" onclick="selected(3)"></div>
                    <a href="/selectedColor/3" class="selectedColor" ><p>family</p></a>
                </div>
                <div class="other">
                    <div class="othercolor" onclick="selected(4)"></div>
                    <a href="/selectedColor/4" class="selectedColor" ><p>other</p></a>
                </div>
            </div>
        </div>
        {% if number == 1 %}
            <h2>Work</h2>
        {% elif number == 2 %}
            <h2>Study</h2>
        {% elif number == 3 %}
            <h2>Family</h2>
        {% elif number == 4 %}
            <h2>Other</h2>
        {% else %}
        {% if user.is_authenticated %}
                <h2>Good {{ gretting }} {{name}}🙏</h2>
            {% else %}
                <h2>Welcome 🙏</h2>
            {% endif %}
        {% endif %}
        <div class="right">
            {% for item in items %}
                <div class="box" style="background-color: {{ item.color }};">
                    <div class="one" style="background-color: {{ item.color }};">
                        <div class="title" onclick="clickbox({{item.sno}})">
                            {% if item.complite == "True" %}
                                <del>{{ item.title }}</del>
                            {% else %}
                                {{ item.title }}
                            {% endif %}
                        </div>
                        <div class="threedot">
                            <ul>
                                <a href="/edit/{{ item.sno }}" class="selectedColor" style="font-family: 'Lato', sans-serif; font-size: 13px;"><li>Edit</li></a>
                                <a href="/delete/{{ item.sno }}" class="selectedColor" style="font-family: 'Lato', sans-serif; font-size: 13px;"><li>Delete</li></a>
                            </ul>
                        </div>
                    </div>
                    <div class="content" onclick="clickbox({{item.sno}})" style="background-color: {{ item.color }};">
                        {% if item.complite == "True" %}
                            <del>{{ item.description }}</del>
                        {% else %}
                            {{ item.description }}
                        {% endif %}
                    </div>
                    <div class="second">
                        <div class="background">
                            <div class="color1" onclick="color({{ item.sno }}, 1)"></div>
                            <div class="color2" onclick="color({{ item.sno }}, 2)"></div>
                            <div class="color3" onclick="color({{ item.sno }}, 3)"></div>
                            <div class="color4" onclick="color({{ item.sno }}, 4)"></div>
                        </div>
                        <div class="check">
                            {% if number == "" %}
                                {% if item.complite == "True" %}
                                    <input type="checkbox" class="checkbox" onclick="checkedbox({{ forloop.counter }}, {{ item.sno }})" checked>
                                {% else %}
                                    <input type="checkbox" class="checkbox" onclick="checkedbox({{ forloop.counter }}, {{ item.sno }})">
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
<script src="{% static 'javascript/index.js' %}"></script>
{% endblock %}